<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.weet.app.board.mapper.BoardMapper">
 
 	<!-- 메인화면 커뮤니티 인기글 -->
   	<select id="selectBoardMain" resultType="com.weet.app.board.domain.BoardVO">
		SELECT 
		    *
		FROM
		    t_community
		WHERE
			comm_post_insert_ts >= TO_CHAR(sysdate-7, 'YYYYMMDD')
		ORDER BY comm_like_num DESC
		FETCH NEXT 3 ROWS ONLY
    </select>

    
</mapper>